/* Custom CSS for Shiny Dashboard */

/* General Styles */
.section-title {
  color: #00608a;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-box {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background-color: #f9f9f9;
}

.plot-container {
  margin-bottom: 20px; /* Space between plots */
}

.definition-box {
  margin-bottom: 30px; /* Space between definition and interpretation boxes */
  padding: 15px;
}

.tab-content .row {
  display: flex;
  align-items: flex-start;
}

.tab-content .column {
  padding: 10px;
}

.info-box h3 {
  font-size: 20px;
  font-weight: bold;
  color: #00608a;
  margin-top: 0;
}

.info-box p {
  font-size: 20px;
  color: #7f8c8d;
  margin: 0;
}

.fish-image {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

.tab-content {
  margin-top: 15px;
}

.tab-panel {
  margin: 15px 0;
}

/* Header customization */
.skin-blue .main-header .logo,
.skin-blue .main-header .navbar {
  background-color: #00608a;
  color: white;
}

.skin-blue .main-header .navbar .sidebar-toggle,
.skin-blue .main-header .navbar .nav > li > a {
  color: white;
}

.nav-tabs > li > a {
  font-size: 16px; /* Adjust this value as needed */
}


/* Increase font size of sidebar menu items */
.main-sidebar .sidebar-menu > li > a {
  font-size: 16px; /* Adjust as needed */
}

/* Increase font size of sidebar header */
.main-sidebar .sidebar .sidebar-header {
  font-size: 16px; /* Adjust as needed */
}

/* Increase font size for the selectInput dropdown */
.selectize-input,
.selectize-dropdown,
.selectize-dropdown-content {
  font-size: 20px; /* Adjust this value as needed */
}

/* Increase font size for the selectInput label */
.selectize-input input {
  font-size: 20px; /* Adjust this value as needed */
}

/* Increase font size of checkbox group labels */
.shiny-input-checkboxgroup label {
  font-size: 20px; /* Adjust the size as needed */
}

